<h2 class="form-title">Add Video</h2>
<form class="input-form" action="/video" method="post" >

  <label class="form-label" for="videoUrl" >Url</label>
  <input id="videoUrl-input" name="videoUrl"/>

  <label class="form-label" for="title">Title</label>
  <input id="title-input" name="title" maxlength="50"/>

  <label class="form-label" for="description">Description</label>
  <textarea id="description-input" name="description"></textarea>

  <button class="button submit-button" id="submit-button" type="submit">
  <p>Save a video</p>
  </button>
