<h1>Now Trending</h1>
<div id="videos-container" class="contents-container">
  {{#each videos as |video|}}
   <div class="video-card">
    <div class="video-player">
        <iframe class="video-player" src="{{video.videoUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-title">
      {{video.title}}
    </div>
  </div>
  {{/each}}
</div>
<a class="add-video-button" href="/video/add">Add Video</a>
